<section id="booking" class="container-fluid">
    <h2>Choose Booking Start date</h2>
    <div class="error col-md-12" ng-if="booking_error" ng-bind="booking_error"></div>
    <div class="available-date">
        Closest available booking start date: {{availableDate | date: 'dd/MM/yyyy'}}
    </div>
    <div class="container-fluid date">
        <div class="input-group">
            <input type="text" ng-model="bookingStartDate" class="form-control" datepicker-popup="dd/MM/yyyy" min-date="availableDate" is-open="status.opened" ng-required="true" close-text="Close"
                   ng-change="changeDate()">
        <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </div>
    </div>
    <div class="form-group buttons">
        <input type="button" value="Book" ng-click="book()" class="btn btn-success" ng-disabled="!isValidDate()"/>
        <input type="button" value="Close" ng-click="close()" class="btn btn-warning"/>
    </div>
</section>