<section id="personal-data">
    <h2 class="col-md-12">Your personal data</h2>
    <table class="table col-md-offset-4 personal-data">
        <tr ng-repeat="(key, data) in person | accountTable" account-data label="key"
            data="data">
        </tr>
    </table>
    <div class="buttons">
        <input type="button" class="btn btn-danger" value="Change data" ng-click="changeData()"/>
    </div>
</section>
<hr class="style col-md-offset-3 col-md-6"/>
<section id="change-password">
    <h2 class="col-md-12">Change password</h2>
    <div class="error col-md-12" ng-if="error" ng-bind="error"></div>
    <form class="col-md-offset-4 col-md-4">
        <div class="form-group">
            <label for="old-password">Old password</label>
            <input
                    type="password"
                    id="old-password"
                    ng-model="data.oldPassword"
                    class="form-control"/>
        </div>
        <div class="form-group">
            <label for="new-password">New password</label>
            <input
                    type="password"
                    id="new-password"
                    ng-model="data.newPassword"
                    class="form-control"/>
        </div>
        <div class="form-group buttons">
            <input type="submit" class="btn btn-success" value="Change password" ng-click="changePassword()"/>
        </div>
    </form>
</section>
<hr class="style col-md-offset-3 col-md-6"/>
<section id="discount-cards" class="container-fluid" ng-if="person.discount_cards.length > 0">
    <h2 class="col-md-12">Your Discount cards.</h2>
    <div class="col-md-3 person-discount-card" ng-repeat="discountCard in person.discount_cards">
        <p class="company-name" ng-bind="discountCard.company_name"></p>
        <ul class="list-group">
            <li class="list-group-item"><b>Description:</b> {{discountCard.description}}</li>
            <li class="list-group-item"><b>Card number:</b> {{discountCard.card_number}}</li>
            <li class="list-group-item"><b>Discount:</b> {{discountCard.amount_of_discount > 0 ? discountCard.amount_of_discount + '%' : 'n/a' }}</li>
            <li class="list-group-item tags" ng-show="discountCard.tags.length > 0">
                <span class="label label-success" ng-repeat="tag in discountCard.tags" ng-bind="tag.tag"></span>
            </li>
        </ul>
    </div>
</section>