<section class="admin-persons container-fluid" entity-sorting>
    <h2 class="col-md-12">Registered Persons</h2>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th ng-repeat="(index, value) in head" ng-click="sorting(value.property)" width="{{value.width}}">
                    {{value.name}}
                    <span ng-class="selectSort(index)"></span>
                </th>
                <th colspan="2"></th>
            </tr>
            <tr ng-repeat="(pIndex, person) in persons" class="data">
                <td ng-bind="pIndex + 1"></td>
                <td ng-repeat="(dIndex, data) in head" ng-bind="setData(dIndex, pIndex)"></td>
                <td class="admin-person-buttons">
                    <span tooltip="Mark Person as deleted."
                          tooltip-trigger="mouseenter"
                          tooltip-placement="top"
                          ng-hide="person.deleted"
                          class="glyphicon glyphicon-remove button-remove"
                          ng-click="removePerson(person.id)"></span>
                    <span tooltip="Edit person."
                          tooltip-trigger="mouseenter"
                          tooltip-placement="top"
                          class="glyphicon glyphicon-edit button-edit"
                          ng-click="editPerson(person)"></span>
                    <span tooltip="Restore deleted Person."
                          tooltip-trigger="mouseenter"
                          tooltip-placement="top"
                          class="glyphicon glyphicon-share button-restore"
                          ng-show="person.deleted"
                          ng-click="restorePerson(person.id)"></span>
                    <span tooltip="Change Person role."
                          tooltip-trigger="mouseenter"
                          tooltip-placement="top"
                          class="glyphicon glyphicon-user button-role"
                          ng-click="changeRole(person.id)"></span>
                </td>
                <td></td>
            </tr>
        </table>
        <div class="row">
            <div class="col-md-5">
                <div class="form-inline">
                    <label for="size">Items per page:</label>
                    <select class="form-control"
                            id="size"
                            ng-model="currentPageSize"
                            ng-options="size as size.label for size in pageSize"
                            style="width: 25%"></select>
                </div>
            </div>
            <div class="col-md-7" style="text-align: right;">
                <pagination
                        total-items="totalItems"
                        items-per-page="currentPageSize.value"
                        ng-model="currentPage"
                        class="pagination-sm"
                        max-size="maxSize"
                        boundary-links="true"
                        rotate="false"
                        num-pages="numPages"
                        style="margin: 0;"
                        ng-click="changePage()">
                </pagination>
            </div>
    </div>
</section>