<section id="sign-in" class="container">
    <h2 class="col-md-12">Sign in</h2>
    <div class="error col-md-12" ng-if="error" ng-bind="error"></div>
    <form class="col-md-6 col-md-offset-3 form-horizontal" name="signIn">
        <div class="form-group">
            <input
                    class="form-control"
                    type="text"
                    ng-model="person.loginData"
                    placeholder="Input login or email" autofocus/>
        </div>
        <div class="form-group has-feedback">
            <input
                    class="form-control"
                    type="password"
                    name="password"
                    ng-model="person.password"
                    ng-focus="focus = true"
                    ng-blur="focus = false"
                    placeholder="Input password" caps-lock/>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <input type="checkbox" name="rememberMe" ng-model="person.rememberMe" value="true">
                    Remember Me
            </div>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-lg btn-success btn-block" ng-click="login()" value="Sign in"/>
        </div>
    </form>
</section>