<section id="registration" class="container-fluid">
    <h2 class="col-md-12">Sign up</h2>
    <div class="error col-md-12" ng-if="error" ng-bind="error.error"></div>
    <form class="col-md-offset-4 col-md-4" name="signUp">
        <div class="form-group has-feedback" show-errors="{ showSuccess: true }">
            <label for="name">Name</label>
            <input class="form-control"
                   type="text"
                   placeholder="Input name"
                   ng-maxlength="100"
                   ng-minlength="4"
                   ng-pattern="/^[A-Za-z .'\-]*$/"
                   id="name"
                   name="name"
                   ng-model="person.name"/>
            <div validation-messages
                 model-controller="signUp.name"
                 minlength-error="Name is too short"
                 maxlength-error="Name is too long"
                 pattern-error="Name should contains a - z (in lower or upper case) and symbols - .'- and space"></div>
            <form-error error="error.data.name" form="signUp.name"></form-error>
        </div>
        <div class="form-group has-feedback" show-errors="{ showSuccess: true }">
            <label for="login">Login</label>
            <input type="text"
                   class="form-control"
                   name="login"
                   placeholder="Input login"
                   id="login"
                   ng-minlength="6"
                   ng-maxlength="20"
                   ng-pattern="/^[A-Za-z0-9_\-. ]*$/"
                   ng-model="person.login"
                   autocomplete="off"
                   ensure-unique
                   required/>
            <div validation-messages
                 model-controller="signUp.login"
                 minlength-error="Login is too short"
                 maxlength-error="Login is too long"
                 required-error="Login is required"
                 unique-error="Login is already exists"
                 pattern-error="Name should contains a - z (in lower or upper case) and symbols - .'-"></div>
            <form-error error="error.data.login" form="signUp.login"></form-error>
        </div>
        <div class="form-group has-feedback"
             show-errors="{ showSuccess: true }">
            <label for="email">Email</label>
            <input type="email"
                   class="form-control"
                   placeholder="Input email"
                   id="email"
                   pattern="{{emailPattern}}"
                   ng-maxlength="254"
                   ng-minlength="9"
                   name="email"
                   ng-model="person.email"
                   ensure-unique
                   autocomplete="off"
                   required/>
            <div validation-messages
                 model-controller="signUp.email"
                 required-error="Email is required"
                 minlength-error="Email is too short"
                 maxlength-error="Email is too long"
                 pattern-error="Email is invalid"
                 unique-error="Email is already exists"></div>
            <form-error error="error.data.email" form="signUp.email"></form-error>
        </div>
        <div class="form-group has-feedback" show-errors="{showSuccess : true}">
            <label for="skype">Skype</label>
            <input type="text"
                   class="form-control"
                   placeholder="Input skype"
                   id="skype"
                   pattern="[A-Za-z][A-Za-z0-9_-.]{5,31}"
                   ng-maxlength="32"
                   ng-minlength="6"
                   name="skype"
                   ng-model="person.skype"
                   ensure-unique
                   autocomplete="off"
                   required>
            <div validation-messages
                 model-controller="signUp.skype"
                 required-error="Skype is required"
                 minlength="Skype is too short"
                 maxlength="Skype is too long"
                 pattern-error="Skype is invalid"
                 unique-error="Skype is already exists"></div>
            <form-error error="error.data.skype" form="signUp.skype"></form-error>
        </div>
        <div class="form-group has-feedback"
             show-errors="{ showSuccess: true }">
            <label for="password">Password</label>
            <input type="password"
                   class="form-control"
                   name="password"
                   id="password"
                   placeholder="Input password"
                   ng-model="person.password"
                   ng-minlength="6"
                   ng-maxlength="128"
                   ng-focus="focus = true"
                   ng-blur="focus = false"
                   required caps-lock/>
            <div validation-messages
                 model-controller="signUp.password"
                 required-error="Password is required"
                 minlength-error="Password is too short"
                 maxlength-error="Password is too long"></div>
            <form-error error="error.data.password" form="signUp.password"></form-error>
            <span class="glyphicon form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label for="location">Location</label>
            <select
                    class="form-control"
                    name="location"
                    id="location"
                    ng-model="person.location"
                    ng-change="changeMask(person.location.country)"
                    required
                    ng-options="location.city group by location.country for location in locations track by location.id">
            </select>
            <div validation-messages
                 model-controller="signUp.location"
                 required-error="Location is required"></div>
        </div>
        <div class="form-group has-feedback"
             show-errors="{ showSuccess: true }">
            <div class="col-md-12 col-sm-12 number-info" ng-show="!person.location">Please choose your location before
                input
                number</div>
            <label for="phone-number">Phone number</label>
            <div class="input-group">
                <span class="input-group-addon">{{phoneNumberInfo[person.location.country].code}}</span>
                <input type="tel"
                       class="form-control"
                       name="phoneNumber"
                       id="phone-number"
                       ng-minlength="9"
                       ng-model="person.phoneNumber"
                       ui-mask="{{mask}}"
                       ui-options="uiMaskOptions"
                       ensure-unique
                       ng-disabled="!person.location"
                       phone-number-mask
                       required/>
            </div>
            <div validation-messages
                 model-controller="signUp.phoneNumber"
                 required-error="Phone number is required"
                 minlength-error="Phone number should 9 symbols length"
                 unique-error="Phone number is already exists"></div>
            <form-error error="error.data.phoneNumber" form="signUp.phoneNumber"></form-error>
        </div>
        <div class="form-group">
            <label for="description">Info</label>
            <textarea class="form-control"
                      id="description"
                      name="description"
                      cols="30" rows="10"
                      ng-minlength="0"
                      ng-maxlength="500"
                      ng-model="person.description"></textarea>
            <div validation-messages
                 model-controller="signUp.description"
                 maxlength-error="Description is too long"></div>
            <form-error error="error.data.description" form="signUp.description"></form-error>
        </div>
        <div class="form-group buttons">
            <input type="button" class="btn btn-success" value="Sign up" ng-disabled="signUp.$invalid" ng-click="reg()"/>
            <input type="button" class="btn btn-primary" value="Reset" ng-click="reset()"/>
        </div>
    </form>
</section>