<span tooltip="Mark Person as deleted."
      tooltip-trigger="mouseenter"
      tooltip-placement="top"
      ng-hide="data.deleted"
      class="glyphicon glyphicon-remove button-remove"
      ng-click="removePerson(data.id)"></span>
<span tooltip="Restore deleted Person."
      tooltip-trigger="mouseenter"
      tooltip-placement="top"
      class="glyphicon glyphicon-share button-restore"
      ng-show="data.deleted"
      ng-click="restorePerson(data.id)"></span>
<span tooltip="Edit person."
      tooltip-trigger="mouseenter"
      tooltip-placement="top"
      class="glyphicon glyphicon-edit button-edit"
      ng-click="editPerson(data)"></span>
<span tooltip="Change Person role."
      tooltip-trigger="mouseenter"
      tooltip-placement="top"
      class="glyphicon glyphicon-user button-role"
      ng-click="changeRole(data.id)"></span>