html, body {
    height: 100%;
}
h2, .buttons {
    text-align: center;
}
.main {
    background-color: #dbdbdb;
    opacity: 0.5;
    margin: 0;
    overflow: hidden;
}
.main ul {
    margin: 0;
    padding: 0;
}
.main ul li{
    display: inline-block;
    list-style-type: none;
}
.main ul li:hover {
    background-color: #cccccc;
}
.main ul li a {
    color: black;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}
#sign-in > h2 {
    text-align: center;
}
.main-title {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
.personal-data {
    width: 50%;
}
.personal-data .key {
    font-weight: bold;
}
hr.style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.error {
    font-style: italic;
    color: red;
    text-align: center;
}
#personal-data input[type="button"] {
    text-align: center;
}
#update-personal-data > .info > span {
    text-align: center;
}