html, body {
    height: 100%;
}
.background {
    height: 100%;
    background: url('../images/main-img.jpg') no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
h2, .buttons {
    text-align: center;
}
.navbar-default {
    background-color: rgba(72, 110, 143, 1) !important;
    border-radius: 0 !important;
    border: none !important;
}
.navbar-default .navbar-brand,
.navbar-nav > li > a,
.dropdown-menu > li > a {
    color: rgba(248, 248, 248, 1) !important;
}
.dropdown-menu {
    background-color: rgba(72, 110, 143, 1);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: #8b8d8f !important;
}
input[type=search] {
    -webkit-appearance: textfield;
    border-radius: 20px;
    border: 1px solid rgba(27, 157, 214, .5) !important;
    width: 30%;
    height: 7%;
    padding: 0 0 0 20px;
    font-size: large;
}
input[type=search]::-webkit-calendar-picker-indicator {
    display: none;
}
#companies {
    border: none;
}
input[type=search]:focus {
    box-shadow: 0 0 3pt 2pt rgba(27, 157, 214, .5);
    outline: none;
}
.hide {
    display: none;
}
.main {
    background-color: #dbdbdb;
    opacity: 0.5;
    margin: 0;
    overflow: hidden;
}
.main ul {
    margin: 0;
    padding: 0;
}
.main ul li{
    display: inline-block;
    list-style-type: none;
}
.main ul li:hover {
    background-color: #cccccc;
}
.main ul li a {
    color: black;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}
#sign-in > h2 {
    text-align: center;
}
.main-title {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
.personal-data {
    width: 33%;
}
.personal-data .key {
    font-weight: bold;
}
hr.style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.error {
    font-style: italic;
    color: red;
    text-align: center;
}
#personal-data input[type="button"] {
    text-align: center;
}
#update-personal-data > .info > span {
    text-align: center;
}
.button-remove, .button-edit, .button-restore, .button-role {
    color: gainsboro;
}
.button-remove:hover {
    color: red;
}
.button-restore:hover {
    color: #d5d633
}
.button-edit:hover {
    color: #00b3ee;
}
.button-role:hover {
    color: #3fd634
}
.admin-person-buttons {
    text-align: center;
}
.admin-person-buttons span {
    font-size: x-large;
}
.admin-persons .data > td {
    vertical-align: middle;
}
.field-error {
    color: #a94442;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 85%;
}
