html, body {
    height: 100%;
}
.background {
    height: 100%;
    background: url('../images/main-img.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.view {
    height: auto;
    margin: 0 auto -200px;
    padding: 0 0 300px
}
footer {
    display: none;
    margin: 50px 0 0 0;
    height: 300px;
    background-color: #5A778F;
    -webkit-box-shadow: inset 0px 6px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 6px 10px -3px rgba(0,0,0,0.75);
    box-shadow: inset 0px 6px 10px -3px rgba(0,0,0,0.75);
}
footer > h2 {
    margin: 0;
    color: #f6f6f6;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font: bold 4em Arial, sans-serif;
}

h2, .buttons {
    text-align: center;
}
.navbar-cardiff {
    background-color: rgba(72, 110, 143, 1) !important;
    border-radius: 0 !important;
    border: none !important;
}
.navbar-cardiff .navbar-brand,
.navbar-cardiff .navbar-nav > li > a,
.navbar-cardiff .dropdown-menu > li > a {
    color: rgba(248, 248, 248, 1) !important;
}
.navbar-cardiff .dropdown-menu {
    background-color: rgba(72, 110, 143, 1);
}
.navbar-cardiff .navbar-nav > .open > a,
.navbar-cardiff .navbar-nav > .open > a:hover,
.navbar-cardiff .navbar-nav > .open > a:focus,
.navbar-cardiff .dropdown-menu > li > a:hover,
.navbar-cardiff .dropdown-menu > li > a:focus {
    background-color: #8b8d8f !important;
}
input[type=search], .search .ui-select-match > span:first-child, .search .ui-select-search {
    display: inline;
    -webkit-appearance: textfield;
    border-radius: 20px;
    border: 1px solid rgba(27, 157, 214, .5) !important;
    width: 100%;
    height: 100%;
    padding: 0 0 0 20px;
    font-size: large;
}
.search .ui-select-match {
    height: 100%;
}
.search .ui-select-toggle > i {
    display: none;
}
.search .ui-select-toggle {
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}
.search .ui-select-container {
    width: 30%;
    height: 7%;
    text-align: center;
}
#companies {
    border: none;
}
input[type=search]:focus, .search .btn-default-focus {
    box-shadow: 0 0 3pt 2pt rgba(27, 157, 214, .5) !important;
    border-radius: 20px;
    outline: none !important;
}
.hide {
    display: none;
}
.main {
    background-color: #dbdbdb;
    opacity: 0.5;
    margin: 0;
    overflow: hidden;
}
.main ul {
    margin: 0;
    padding: 0;
}
.main ul li{
    display: inline-block;
    list-style-type: none;
}
.main ul li:hover {
    background-color: #cccccc;
}
.main ul li a {
    color: black;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}
#sign-in > h2 {
    text-align: center;
}
.search {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}
.personal-data {
    width: 33%;
}
.personal-data .key {
    font-weight: bold;
}
hr.style {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
}
.error {
    font-style: italic;
    color: red;
    text-align: center;
}
#personal-data input[type="button"] {
    text-align: center;
}
#update-personal-data > .info > span {
    text-align: center;
}
.button-remove, .button-edit, .button-restore, .button-role {
    color: gainsboro;
}
.button-remove:hover {
    color: red;
}
.button-restore:hover {
    color: #d5d633
}
.button-edit:hover {
    color: #00b3ee;
}
.button-role:hover {
    color: #3fd634
}
.admin-person-buttons {
    text-align: center;
}
.admin-person-buttons span {
    font-size: x-large;
}
.admin-persons .data > td {
    vertical-align: middle;
}
.field-error {
    color: #a94442;
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 85%;
}

/*Account info page*/
#discount-cards .company-name {
    width: 100%;
    text-align: center;
    font-size: large;
}
.person-discount-card {
    padding: 10px 20px 10px 20px !important;
}


/*Discount card info page*/
.tags > span {
    margin: 0 10px 0 0;
}
#discount-card-info > article > p {
    display: flex;
    justify-content: center;
    align-items: center;
}
#comments .comment-date {
    padding-top: 10px;
    font-size: small;
    color: #888888;
    text-align: center;
}
#comments .comment, .person-discount-card {
    padding: 5px 0 5px 0;
    display: inline-block;
    vertical-align: top;
    background-color: #eee;
}
.auth-info > .buttons {
    text-align: center;
    padding: 20px;
}
#discount-card-info .buttons {
    text-align: center;
    padding: 10px;
}
#discount-card-info .buttons > input {
    width: 5%;
    margin-right: 10px;
}
.auth-info > div:first-child {
    font-size: large;
}
.auth-info > div:first-child > p {
    float: right;
    font-style: italic;
    padding: 5px;
}
#owner-card-info > .error {
    font-size: larger;
    font-style: oblique;
    text-align: center;
}

/*Add Discount card page*/
.custom-tag {
    width: 100%;
    display: inline-block;
}
.custom-tag > label {
    width: 100%;
}
.custom-tag input[type=text] {
    width: 70% !important;
}
.custom-tag input[type=button] {
    width: 25% !important;
    float: right;
    margin-left: 5px;
}
.custom-tag small {
    padding-bottom: 5px;
    color: lightgrey;
    text-align: left;
    font-style: italic;
}
#add-discount-card .buttons {
    padding: 30px 0 0 0;
}
