<div class="col-sm-12 col-xs-12 col-md-12" ng-show="tableInfo.data.$resolved">
    <table class="table" ng-hide="mobileDevice && !tabletLandscape">
        <tr>
            <th ng-repeat="(index, value) in tableInfo.head"
                width="{{value.width}}"
                ng-click="sorting(value.property)"
                ng-class="value.class">
                {{value.name}}
                <span ng-class="selectSort(value.property)"></span>
            </th>
            <th ng-show="tableInfo.htmlBinding && !binding.sorted"
                ng-repeat="binding in tableInfo.htmlBinding"
                ng-bind="binding.head"
                width="{{binding.width}}"
                ng-class="binding.desktopClass">
            </th>
            <th ng-show="tableInfo.htmlBinding && binding.sorted"
                ng-repeat="binding in tableInfo.htmlBinding"
                ng-click="sorting(binding.property)"
                width="{{binding.width}}"
                ng-class="binding.desktopClass">
                {{binding.head}}
                <span ng-class="selectSort(binding.property)"></span>
            </th>
            <th colspan="2" ng-show="tableInfo.dataButtons"></th>
        </tr>
        <tr ng-repeat="(dataIndex, data) in tableData" class="data" ng-class="(tableInfo.rowClass && data.picked ? 'unavailable' : '')">
            <td ng-repeat="(headDataIndex, headData) in tableInfo.head" ng-bind="setData(headDataIndex, dataIndex)" ng-class="headData.class"></td>
            <td ng-show="tableInfo.htmlBinding" ng-repeat="binding in tableInfo.htmlBinding"
                ng-class="binding.desktopClass" compile-html="binding.desktop">
            </td>
            <td ng-show="tableInfo.dataButtons" class="table-buttons">
                <div ng-include="tableInfo.dataButtons.desktop"></div>
            </td>
        </tr>
    </table>
    <div class="container cards col-sm-6 col-xs-12" ng-repeat="(dataIndex, data) in tableData track by data.id"
         ng-show="mobileDevice && !tabletLandscape">
        <ul class="mobile-table-cards">
            <li ng-repeat="(headDataIndex, headData) in tableInfo.head"><b>{{headData.name}}:</b> {{setData(headDataIndex, dataIndex)}}</li>
            <li ng-show="tableInfo.htmlBinding" ng-repeat="binding in tableInfo.htmlBinding"
                ng-class="binding.desktopClass" compile-html="binding.mobile"></li>
            <hr class="style"/>
            <li ng-show="tableInfo.dataButtons" class="buttons table-buttons">
                <div ng-include="tableInfo.dataButtons.mobile ? tableInfo.dataButtons.mobile : tableInfo.dataButtons.desktop"></div>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 col-xs-12 col-md-12 pagination-stack">
        <div class="col-xs-12 col-sm-5 col-md-5">
            <div class="form-inline">
                <label for="size">Items per page:</label>
                <select class="form-control"
                        id="size"
                        ng-model="currentPageSize"
                        ng-change="changePageSize(currentPageSize.value)"
                        ng-options="size as size.label for size in pageSize"></select>
            </div>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-7">
            <pagination
                    total-items="totalItems"
                    items-per-page="currentPageSize.value"
                    ng-model="currentPage"
                    class="pagination-sm"
                    max-size="maxSize"
                    boundary-links="true"
                    rotate="false"
                    num-pages="numPages"
                    ng-click="changePage()">
            </pagination>
        </div>
    </div>
</div>