<header id="info-section">
    <article class="col-md-4 content">
        <div class="title">
            <div>Cardiff</div>
            <div class="title-info">(Card is for friends)</div>
        </div>
        <div class="sub"><p>This project is dedicated to discount card exchange.</p>
            <p>If you want to save some money on dinner with your wife or girlfriend or if you want to save money on
                holiday shopping</p></div>
        <div class="button">
            <a data-goto="section#project-info" class="down"></a>
        </div>
    </article>
</header>
<section id="project-info" class="container">
    <div class="content">
        <div class="title">Project Info</div>
        <div class="circles">
            <div class="circle first users">
                <div class="circle-info" ng-bind="userCount"></div>
                <div class="info">
                    Users
                </div>
            </div>
            <div class="circle second discount-cards">
                <div class="circle-info" ng-bind="cardCount"></div>
                <div class="info">
                    Cards
                </div>
            </div>
            <div class="circle third locations">
                <div class="circle-info" ng-bind="locationCount"></div>
                <div class="info">
                    Locations
                </div>
            </div>
        </div>
        <div class="sub">
            Join us! You could be one of our big family.
        </div>
        <article class="button">
            <a data-goto="section#summary" class="down"></a>
        </article>
    </div>
</section>
<section id="summary">
    <div class="content">
        <div class="info">
            <span class="project-name">Cardiff</span> - Provectus Inc. corporate project, that helps employees to
            exchange discount cards between each other. If you want to save some money or make your friends happier,
            please welcome.
        </div>
        <article class="button">
            <a data-goto="section#how-it-works" class="down"></a>
        </article>
    </div>
</section>
<section id="how-it-works">
    <div class="content">
        <div class="title">How it works?</div>
        <div class="info">
            <div class="family">
                <div class="background"></div>
                <div class="cycle-info">
                    To be a part of the Provectus big and proud family
                </div>
            </div>
            <div class="reg">
                <div class="background"></div>
                <div class="cycle-info">
                    Fill the form and click "Sign Up"
                </div>
            </div>
            <div class="exchange">
                <div class="background"></div>
                <div class="cycle-info">
                    Start cycle of a discount cards exchange
                </div>
            </div>
        </div>
        <article class="button">
            <a data-goto="section#top-5" class="down"></a>
        </article>
    </div>
</section>
<section id="top-5">
    <div class="content container">
        <div class="title">Top 5 Cards</div>
        <div class="cards">
            <div class="col-md-4 card" ng-repeat="card in top5Cards">
                <div class="card-info" discount-card tags="card.tags">
                    <div class="col-md-9 company-name">
                        <div class="name col-md-8" ng-click="showDiscountCard(card.id)"
                             ng-bind="card.companyName"></div>
                        <div class="tags col-md-12">
                            <span ng-repeat="tag in card.tags">{{tag.tag}}{{$last ? '' : ', '}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 discount" ng-bind="card.amountOfDiscount + '%'"></div>
                </div>
            </div>
        </div>
        <article class="button">
            <a data-goto="footer" class="down"></a>
        </article>
    </div>
</section>
<script>
    $(document).on('click', '[data-goto]', function (e) {
        $('html, body').animate({
            scrollTop: $($(this).attr('data-goto')).offset().top + 'px'
        });
        e.preventDefault()
    });
</script>