<!DOCTYPE html>
<html ng-app="cardiff">
<head lang="en">
    <base href="/"/>
    <meta charset="UTF-8">
    <title>Cardiff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="js/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="style/css/cardiff-style.css"/>
    <link rel="stylesheet" href="js/bower_components/ui-select/dist/select.css"/>
    <script src="js/bower_components/jquery/dist/jquery.js"></script>
    <script src="js/bower_components/angular/angular.js"></script>
    <script src="js/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="js/bower_components/angular-route/angular-route.js"></script>
    <script src="js/bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/bower_components/underscore/underscore.js"></script>
    <script src="js/bower_components/angular-underscore-module/angular-underscore-module.js"></script>
    <script src="js/bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="js/bower_components/ui-select/dist/select.js"></script>
    <script src="js/bower_components/ngstorage/ngStorage.js"></script>
    <script src="js/showErrors.js"></script>
    <script src="js/bower_components/angular-ui-mask/dist/mask.js"></script>
    <script src="app/person/js/person-controllers.js"></script>
    <script src="app/person/js/person-directives.js"></script>
    <script src="app/person/js/person-services.js"></script>
    <script src="app/person/js/person-filters.js"></script>
    <script src="app/discount-card/js/discount-card-controllers.js"></script>
    <script src="app/discount-card/js/discount-card-services.js"></script>
    <script src="app/discount-card/js/discount-card-directives.js"></script>
    <script src="app/main/js/main-controllers.js"></script>
    <script src="app/main/js/main-directives.js"></script>
    <script src="app/main/js/main-services.js"></script>
    <script src="app/main/js/main-filters.js"></script>
    <script src="js/app.js"></script>
    <style>
        [ng:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak class="ng-cloak">
<h1 class="hide">Cardiff Application</h1>
<nav class="navbar navbar-default navbar-cardiff" ng-controller="NavCtrl">
    <h2 class="hide">Cardiff Navigation</h2>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#navbar-collapse"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-if="auth.authenticated != undefined">
            <ul class="nav navbar-nav navbar-right" ng-hide="auth.authenticated">
                <li><a href="/signin">Sign in</a></li>
                <li><a href="/signup">Sign up</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown" ng-show="auth.admin && auth.authenticated">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Admin <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/admin/persons">Persons</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Cards <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/cards">Show</a></li>
                        <li ng-show="auth.authenticated"><a href="/card/add">Add</a></li>
                    </ul>
                </li>
                <li ng-show="auth.authenticated">
                    <a href="/account">Account</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" ng-show="authenticated()">
                <li>
                    <a href="" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="view ng-cloak" ng-view ng-cloak window-height></div>
<footer class="footer ng-cloak" ng-cloak>
    <h2 class="depth" title="Welcome to Cardiff Project">Welcome to Cardiff Project</h2>
</footer>
</body>
</html>