<!DOCTYPE html>
<html ng-app="cardiff">
<head lang="en">
    <base href="/"/>
    <meta charset="UTF-8">
    <title>Cardiff</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style/css/cardiff-style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,800' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-sanitize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="js/angular-underscore-module.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.13.2/select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <script src="js/ng-caps-lock.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints.min.js"></script>
    <script src="js/showErrors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-mask/1.6.7/mask.min.js"></script>
    <script src="app/person/js/person-controllers.js"></script>
    <script src="app/person/js/person-directives.js"></script>
    <script src="app/person/js/person-services.js"></script>
    <script src="app/person/js/person-filters.js"></script>
    <script src="app/discount-card/js/discount-card-controllers.js"></script>
    <script src="app/discount-card/js/discount-card-services.js"></script>
    <script src="app/discount-card/js/discount-card-directives.js"></script>
    <script src="app/discount-card/js/discount-card-filters.js"></script>
    <script src="app/main/js/main-controllers.js"></script>
    <script src="app/main/js/main-directives.js"></script>
    <script src="app/main/js/main-services.js"></script>
    <script src="app/main/js/main-filters.js"></script>
    <script src="app/card-booking/js/card-booking-controllers.js"></script>
    <script src="app/card-booking/js/card-booking-services.js"></script>
    <script src="app/card-booking/js/card-booking-filters.js"></script>
    <script src="app/tag/js/tag-controllers.js"></script>
    <script src="app/tag/js/tag-services.js"></script>
    <script src="js/app.js"></script>
    <style>
        [ng:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>
<body ng-cloak class="ng-cloak">
<h1 class="hide">Cardiff Application</h1>
<header>
    <h2 class="hide">Cardiff Navigation</h2>
    <nav class="navbar navbar-default navbar-cardiff" ng-controller="NavCtrl">
        <div class="container">
            <div class="navbar-header">
                <button type="button"
                        class="navbar-toggle collapsed"
                        data-toggle="collapse"
                        data-target="#navbar-collapse"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/style/images/logo.png" alt="logo" width="238"></a>
            </div>
            <div class="collapse navbar-collapse navigation" id="navbar-collapse"
                 ng-if="auth.authenticated != undefined">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/cards">Discount Cards
                            <div class="line"></div>
                        </a>
                    </li>
                </ul>
                <ul class="nav navbar-nav" ng-show="authenticated()">
                    <admin-nav ng-show="adminPermission()"></admin-nav>
                    <li>
                        <a href="/card/add">Add Card
                            <div class="line"></div>
                        </a>
                    </li>
                    <li><a href="" ng-click="showCustomTagModal()">Add Tag
                        <div class="line"></div>
                    </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-hide="authenticated()">
                    <li>
                        <a href="/signin">Sign in
                            <div class="line"></div>
                        </a>
                    </li>
                    <li><a href="/signup">Sign up
                        <div class="line"></div>
                    </a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="authenticated()">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Account <span class="caret"></span>
                            <div class="line"></div>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/account">Personal account</a></li>
                            <li><a href="/account/cards">Your cards</a></li>
                            <li><a href="/account/bookings">Card bookings</a></li>
                        </ul>
                    </li>
                    <li><a href="" ng-click="logout()">Logout
                        <div class="line"></div>
                    </a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="view ng-cloak" ng-view ng-cloak window-height></div>
<footer class="footer">
    <div class="container">
        <div class="col-md-2">
            <dl>
                <dt>Content</dt>
                <dd>
                    <a href="/signin">Sign In</a>
                </dd>
                <dd>
                    <a href="/signup">Sign Up</a>
                </dd>
            </dl>
        </div>
        <div class="col-md-2 sections">
            <dl>
                <dt>Sections</dt>
                <dd>
                    <a href="#info-section">About</a>
                </dd>
                <dd>
                    <a href="#project-info">Project Info</a>
                </dd>
                <dd>
                    <a href="#summary">Project Summary</a>
                </dd>
                <dd>
                    <a href="#how-it-works">How it works?</a>
                </dd>
                <dd>
                    <a href="#top-5">Top 5 Discount Cards</a>
                </dd>
            </dl>
        </div>
        <div class="col-md-4 col-md-offset-1">
            <dl>
                <dt>About</dt>
                <dd>Cardiff - project that helps people to exchange their discount cards with others.</dd>
            </dl>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copy">
                Copyright © 2015, Provectus Inc.
            </div>
            <ul class="footer-soc">
                <li class="linked">
                    <a href="https://www.linkedin.com/company/provectus-it-inc" target="_blank"></a>
                </li>
                <li class="fb">
                    <a href="https://www.facebook.com/ProvectusMobile" target="_blank"></a>
                </li>
                <li class="tw">
                    <a href="https://twitter.com/ProvectusMobile" target="_blank"></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>