<section id="add-discount-card" class="container-fluid">
    <h2 class="col-md-12">Add Discount Card</h2>
    <form class="col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 col-sm-offset-2 col-sm-8 col-xs-10 col-xs-offset-1"
          name="add">
        <div class="form-group has-feedback" show-errors="{ showSuccess: true }">
            <label for="cardNumber">Card Number</label>
            <input class="form-control"
                   type="number"
                   placeholder="Input card number"
                   ng-maxlength="16"
                   ng-minlength="1"
                   pattern="^[1-9][0-9]{0,15}$"
                   id="cardNumber"
                   name="cardNumber"
                   required
                   ng-model="card.card_number"/>
            <div validation-messages
                 model-controller="add.cardNumber"
                 minlength-error="Card number is too short"
                 maxlength-error="Card number is too long"
                 required-error="Card number is required"
                 patter-error="Card number should contains only numbers and starts with 1"></div>
        </div>
        <div class="form-group has-feedback" show-errors="{ showSuccess: true }">
            <label for="companyName">Company name</label>
            <input type="text"
                   class="form-control"
                   name="companyName"
                   placeholder="Input Company Name"
                   id="companyName"
                   ng-minlength="1"
                   ng-maxlength="50"
                   ng-model="card.company_name"
                   required/>
            <div validation-messages
                 model-controller="add.companyName"
                 minlength-error="Company name is too short"
                 maxlength-error="Company name is too long"
                 required-error="Company name is required"></div>
        </div>
        <div class="form-group has-feedback"
             show-errors="{ showSuccess: true }">
            <label for="amountOfDiscount">Discount</label>
            <input type="number"
                   class="form-control"
                   placeholder="Input discount"
                   id="amountOfDiscount"
                   pattern="^[1-9][0-9]?$|^100$"
                   name="amountOfDiscount"
                   ng-model="card.amount_of_discount"/>
            <div validation-messages
                 model-controller="add.amountOfDiscount"
                 patter-error="Amount of discount could be only for 1 - 100%"></div>
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control"
                      id="description"
                      placeholder="Discount card description"
                      name="description"
                      cols="30" rows="10"
                      ng-minlength="0"
                      ng-maxlength="500"
                      ng-model="card.description"></textarea>
            <div validation-messages
                 model-controller="add.description"
                 maxlength-error="Description is too long"></div>
        </div>
        <div class="form-group">
            <label>Tags</label>
            <ui-select multiple ng-model="card.tags">
                <ui-select-match placeholder="Select tags...">{{$item.tag}}</ui-select-match>
                <ui-select-choices repeat="tag in tags | filter: $select.search">
                    {{tag.tag}}
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="form-group custom-tag" >
            <label>New Tag</label>
            <input class="form-control col-md-8"
                   type="text"
                   ng-model="customTag"
                   name="customTag"
                   placeholder="Input your tag"/>
            <input class="col-md-offset-1 col-md-3 btn btn-success" type="button" value="Add new"
                   ng-click="addCustomTag()" ng-disabled="add.customTag.$invalid || add.customTag.$modelValue == null"/>
        </div>
        <small class="hint col-md-12">You can add multiple custom tags by separating them with , or multiple
            spaces</small>
        <div class="form-group buttons">
            <input type="button" class="btn btn-success btn-lg" value="Add" ng-disabled="add.$invalid" ng-click="addNewCard()"/>
            <input type="button" class="btn btn-primary btn-lg" value="Reset" ng-click="reset()"/>
        </div>
    </form>
</section>