<section class="discount-cards container-fluid" entity-sorting>
    <h2 class="col-sm-12 col-xs-12 col-md-12">Discount Cards</h2>
    <div class="col-sm-12 col-xs-12 col-md-12">
        <table class="table" ng-hide="mobileDevice && !tabletLandscape">
            <tr>
                <th>#</th>
                <th ng-repeat="(index, value) in head"  width="{{value.width}}" ng-click="sorting(value.property)">
                    {{value.name}}
                    <span ng-class="selectSort(index)"></span>
                </th>
                <th colspan="2"></th>
            </tr>
            <tr ng-repeat="(dcIndex, discountCard) in discountCards" class="data">
                <td ng-bind="dcIndex + 1"></td>
                <td ng-repeat="(dIndex, data) in head" ng-bind="setData(dIndex, dcIndex)"></td>
                <td><input type="button" class="btn btn-success btn-sm" value="Show" ng-click="findDiscountCard(discountCard.id)"/></td>
            </tr>
        </table>
        <div class="container cards col-sm-6 col-xs-12" ng-repeat="(dcIndex, discountCard) in discountCards"
             ng-show="mobileDevice && !tabletLandscape">
            <ul class="mobile-table-cards">
                <li ng-repeat="(dIndex, data) in head"><b>{{data.name}}:</b> {{setData(dIndex, dcIndex)}}</li>
                <li class="buttons">
                    <input type="button" class="btn btn-success btn-sm" value="Show" ng-click="findDiscountCard(discountCard.id)"/>
                </li>
            </ul>
        </div>
        <div class="col-sm-12 col-xs-12 col-md-12 pagination-stack">
            <div class="col-xs-12 col-sm-5 col-md-5">
                <div class="form-inline">
                    <label for="size">Items per page:</label>
                    <select class="form-control"
                            id="size"
                            ng-model="currentPageSize"
                            ng-options="size as size.label for size in pageSize"></select>
                </div>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-7">
                <pagination
                        total-items="totalItems"
                        items-per-page="currentPageSize.value"
                        ng-model="currentPage"
                        class="pagination-sm"
                        max-size="maxSize"
                        boundary-links="true"
                        rotate="false"
                        num-pages="numPages"
                        ng-click="changePage()">
                </pagination>
            </div>
        </div>
    </div>
</section>