<table class="table" ng-hide="mobileDevice && !tabletLandscape">
    <tr>
        <th ng-repeat="(index, value) in tableInfo.head"  width="{{value.width}}" ng-click="sorting(value.property)">
            {{value.name}}
            <span ng-class="selectSort(index)"></span>
        </th>
        <th>Tags</th>
        <th colspan="2" ng-show="tableInfo.dataButtons"></th>
    </tr>
    <tr ng-repeat="(dataIndex, data) in tableData" class="data">
        <td ng-repeat="(headDataIndex, headData) in tableInfo.head" ng-bind="setData(headDataIndex, dataIndex)"></td>
        <td class="tags">
            <span class="label label-success" ng-repeat="tag in data.tags" ng-bind="tag.tag"></span>
        </td>
        <td ng-show="tableInfo.dataButtons" class="table-buttons">
            <input type="button" class="btn btn-success btn-sm" value="Show" ng-click="findDiscountCard(data.id)"/>
        </td>
    </tr>
</table>
<div class="container cards col-sm-6 col-xs-12" ng-repeat="(dataIndex, data) in tableData"
     ng-show="mobileDevice && !tabletLandscape">
    <ul class="mobile-table-cards">
        <li ng-repeat="(headDataIndex, headData) in tableInfo.head"><b>{{headData.name}}:</b> {{setData(headDataIndex, dataIndex)}}</li>
        <li class="buttons" ng-show="tableInfo.dataButtons" class="table-buttons">
            <div ng-include="tableInfo.dataButtons.mobile"></div>
        </li>
    </ul>
</div>